image: rocker/verse

test:
  script:
    - R -e "install.packages(c('shiny', 'ggvis', 'DT', 'shinyjs', 'flextable', 'janitor'))"
    - R -e "devtools::install_github('jonathan-g/kayadata')"
    - R CMD build . --no-build-vignettes --no-manual
    - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
    - R CMD check "${PKG_FILE_NAME}" --no-build-vignettes --no-manual --as-cran
